<p>administrador works!</p>
<div class="container">
    <h2>Tabla Administrador</h2>
    <hr/>
    <div class="container">
        <table class="table table-success table-striped table-hover">
            <thead>
              <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Descripción</td>
                <td>Tipo</td>
                <td>Género</td>
                <td>Fecha</td>
                <td>Precio</td>
                <td>Imagen</td>
                <td>Video</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
        </table>
    </div>
    
</div>

